<div class="main-content-wrap">
  <h1>Portfolio</h1>
  <% site.data.portofolio.forEach(function(project) { %>
    <div id="<%= project.title.split(' ').join('_').toLowerCase() %>">
      <h2><%= project.title %></h2>
      <p>
        <%= project.platform %>
        <% project.downloads.forEach(function(x) { %>
          | <a href="<%= x[1] %>">Live at <%= x[0] %></a>
        <% }) %>
        <% project.press.forEach(function(x) { %>
          | <a href="<%= x[1] %>">Press on <%= x[0] %></a>
        <% }) %>
      </p>
      <p><%= project.desc %></p>
      <% project.pics.forEach(function(link) { %>
        <a href="<%= link %>" target="_blank"><img style="max-width: 40%" src="<%= link %>"></img></a>
      <% }) %>
      <div class="clear"></div>
    </div>
  <% }) %>
</div>
